

.report-container{
padding-top:120px;
text-align:center;
}

.report-container h2{
font-size:32px;
margin-bottom:30px;
}

button{
padding:10px 18px;
margin:10px;
border:none;
background:#38bdf8;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#0ea5e9;
}

img{
margin-top:20px;
border-radius:8px;
box-shadow:0 4px 12px rgba(0,0,0,0.3);
}