.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:16px 60px;
background:rgba(15,23,42,0.9);
backdrop-filter:blur(12px);
z-index:100;
}

.logo{
font-size:24px;
font-weight:700;
color:white;
}

.nav-links{
display:flex;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:500;
position:relative;
}

.nav-links a:hover{
color:#38bdf8;
}